/* index.css */

body {
    background-color: #f9fafc;
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
}

.main-wrapper {
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding-bottom: 100px;
}

.date-section .date-text {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.summary-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.amount {
    color: #4e67b0;
    font-weight: bold;
}

.settlement {
    font-size: 16px;
    color: #555;
}

.memo-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.memo-label-wrapper {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 6px auto;
    height: 20px;
}

.memo-textarea {
    width: 90%;
    max-width: 500px;
    height: 120px;
    margin: 0 auto 10px auto;
    display: block;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.memo-textarea:focus {
    outline: none; /* 青い外枠を消す */
    box-shadow: none;
    border: 1px solid #ccc;
}

.memo-button {
    margin-top: 10px;
}

.history-title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.history-list {
    list-style-position: inside;
    text-align: left;
    display: inline-block;
    padding-left: 0;
    margin-top: 10px;
}

.create-button {
    margin-top: 40px;
}

/* メモ入力欄右下に表示 */
.save-status-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.save-status {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #888;
    white-space: nowrap;
}

.save-status.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.memo-flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 10px;
}

.save-status-wrapper {
    padding-top: 10px;
}

/* ボタン */
.btn {
    background: linear-gradient(
        135deg,
        #a0d8ef,
        #cdbfe3
    ); /* 左上→右下グラデーション */
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

/* ボタン */
.button-wrapper {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 24px;
    border: 2px solid #4e67b0;
    border-radius: 6px;
    color: #4e67b0;
    background: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

::placeholder {
    color: #ccc; /* 超薄いグレー */
}

/* 円グラフセクション */
.chart-section {
    text-align: center;
    margin: 30px 0;
}

.chart-section canvas {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
